.container {
    margin-top: 13rem;
    background-color: tras;
    display: inline;
    padding: 8rem 1rem 0rem 1rem;
    width: 52%;
    box-sizing: border-box;
    overflow: hidden;
}

.title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0px;
    color: var(--text-dark-color);
    opacity: 1;
}

.button {
    border-radius: .1rem;
    padding: .9rem;
    width: 100%;
    max-width: 85%;
    background: var(--gradient-red);
    border: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.button:hover {
    background: var(--gradient-red-hover);

}


.paragraph {
    color: var(--text-dark-color);
    font-size: 1.3rem;
    padding: .5rem;
}

@media (max-width: 1400px) {
    .container {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 2rem 1rem;
        width: 30%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 80vw;
        margin-right: -10rem;
        padding: 3rem 1rem 3rem 1rem;
    }

    .title {
        font-size: clamp(.9rem, 3vw, 1.4rem);
        line-height: 5vw;
    }

    .paragraph {
        font-size: clamp(0.6rem, 2vw, 0.9rem);
        padding: .5rem;
    }
    
    .button {
        font-size: clamp(.5rem, 2vw, .8rem);
        padding: .9rem .8rem;
    }
}

@media (max-width: 600px) {
    .container {
        margin-top: 10rem;
        margin-right: -2rem;
        padding: 0rem 1rem 3rem 1rem;
    }

    .paragraph {
        margin-bottom: 0;
    }
}