.container {
    width: 60%;
    background-color: var(--gradient-blue);
    padding: 7rem 1rem 5rem;
    font-size: 1.6rem;
    flex-direction: row;

}

.paragraph {
    text-align: start;
}

.button {
    border-radius: .1rem;
    padding: .9rem;
    width: 27rem;
    max-width: 85%;
    background: var(--gradient-red);
    border: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.button:hover {
    background: var(--gradient-red-hover);
}

@media (max-width: 1400px) {
    .container {
        flex-direction: column;
        width: 30%;
    }

    .paragraph {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .button {
        font-size: clamp(.5rem, 2vw, .8rem);
    }
}

@media (max-width: 760px) {
    .paragraph {
        font-size: 1.2rem;
        width: 80vw;
    }

    .button {
        width: 60vw;
    }
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 20%;
        font-size: 1.2rem;
    }
}