.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--transparent-background-color);
  box-sizing: border-box;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;

  padding: 3rem 10rem;
  gap: 2rem;
}

.text p {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
  max-width: 50rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;
  row-gap: 1rem;
  padding: 0 20rem;
  box-sizing: border-box;
}

.card {
  background-color: var(--primary-color);
  height: 23rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: justify;
  /* padding: 1rem; */
  -webkit-box-shadow: 28px 33px 114px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 28px 33px 114px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 28px 33px 114px -19px rgba(0, 0, 0, 0.75);
  border: none;
}

.image {
  /* max-height: 8rem; */
  align-items: left;
  justify-content: left;
}

.card p,
.card div div {
  padding: 0.1rem 0.3rem;
  margin: 0;
}

@media screen and (max-width: 1500px) {
  .text,
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30rem;
  }
}

@media screen and (max-width: 910px) {
  .text,
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 38rem;
  }
}

@media screen and (max-width: 630px) {
  .text,
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
