.container {
    background-color: white;
    width: 100vw;
    height: 80rem;
    position: relative;
}

.float__card {
    position: absolute;
    top: -1.6rem;
    width: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.slider__card {
    background-color: var(--black-background);
    padding-block: 1.4rem;
    position: absolute;
    animation: scroll 38s linear infinite;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@keyframes scroll {
    0% {left: 0;}
	100% {left: -119%;}
}

.box__card {
    width: 25rem;
    color: white;
    font-size: 0.8rem;
}

.box__card__small {
    width: 16rem;
    color: white;
    font-size: 0.8rem;
}

.box__icon {
    color: var(--text-blue-color);
    font-size: 1.4rem;
}

@media (max-width: 1000px) {
    .container {
        height: fit-content;
    }
}

@media (max-width: 700px) {
    .slider__card {
        padding-block: .8rem;
    }

    @keyframes scroll {
        0% {left: 0;}
        100% {left: -86%;}
    }

    .box__card {
        font-size: .5rem;
        width: 16rem;
    }
    
    .box__card__small {
        font-size: .5rem;
        width: 12rem;
    }
}
