.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--transparent-background-color);
}

@media screen and (max-width: 1500px) {
  .text,
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .col_one {
    margin-right: 2rem;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;

  padding: 3rem 10rem;
  gap: 2rem;
}

.text p {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
  max-width: 50rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center;

  padding: 0 20rem;
}

.card {
  background-color: var(--primary-color);
  height: 30rem;
  border-radius: 1rem;
  text-align: justify;
  padding: 1rem;
  -webkit-box-shadow: 28px 33px 114px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 28px 33px 114px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 28px 33px 114px -19px rgba(0, 0, 0, 0.75);
}

.image {
  max-height: 8rem;
  align-items: left;
  justify-content: left;
}
