.container {
    background: transparent url('../../public/DESKTOP/BG-01.jpg') 0% 0% no-repeat padding-box;
    height: 55rem;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 900px) {
    .container {
        background: transparent url('../../public/MOBILE/BG-01-CELULAR.jpg') 0% 0% no-repeat padding-box;
        background-size: cover;
        background-position: center;
        height: 90rem;
    }
}
@media (max-width: 600px) {
    .container {
        height: 70rem;
    }
}