.container {
    background: transparent url('../../public/DESKTOP/BG-01.jpg') 0% 0% no-repeat padding-box;
    width: 120rem;
    padding: 0;
    padding-right: 50rem;
    margin: 0;
}

@media (max-width: 1400px) {
    .container {
        padding-right: 30rem;
    }
}

@media (max-width: 1080px) {
    .container {
        padding-right: 20rem;
    }
}

@media (max-width: 900px) {
    .container {
        padding-right: 10rem;
    }
}

@media (max-width: 800px) {
    .container {
        padding-right: 9rem;
        background-position: -3rem;
    }
}

@media (max-width: 600px) {
    .container {
        background: transparent url('../../public/MOBILE/BG-01-CELULAR.jpg') 0% 0% no-repeat padding-box;
        margin-left: 4rem;
        padding-right: 0;
        height: 80rem;
        background-position: 38rem -4rem;
        background-size: auto 86rem;
    }
}