.full__container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.container {
    width: 100%;
    background: transparent url('../../public/DESKTOP/BG-02.jpg') 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.tip__card {
    position: absolute;
    top: -1.6rem;
    background: var(--gradient-blue);
    width: 848px;
    height: 251px;
    border-radius: 1rem;
    color: white;
    font-size: clamp(.625rem, 3vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tip__card__paragraph {
    margin-bottom: 0px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .tip__card {
        width: 90vw;
    }
}

@media (max-width: 800px) {
    .container {
        align-items: center;
        justify-content: flex-start;
        height: 70rem;
        background: transparent url('../../public/TABLET/BG-02---TABLET.jpg') 0% 0% no-repeat padding-box;
        background-size: cover;
        background-position: center;
    }
}