.container {
    width: 86rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form_box {
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.break__line {
    width: 86%;
    margin-block: 0.4rem;
    border-bottom: 1px solid #cacaca;
}

.privacy__link:hover {
    color: var(--text-blue-color);
    cursor: pointer;
}

.remove__style:link {
    text-decoration: inherit;
    color: inherit;
}
    
.remove__style:visited {
    text-decoration: inherit;
    color: inherit;
}

.check {
    margin-top: 0.4rem;
    margin-right: 0.4rem;
}

.titulo {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: 0px;
    color: var(--text-dark-color);
    opacity: 1;
}

.input::placeholder {
    color: var(--placeholder);
}

.input,
.button {
    border-radius: .1rem;
    padding: .9rem;
    margin-bottom: 1rem;
    width: 100%;
}

.button {
    background: var(--gradient-red);
    border: none;
}

.button:hover {
    background: var(--gradient-red-hover);
}

.formulario {
    width: 100%;
}

.center__data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small_text {
    color: var(--text-dark-color);
    width: 26rem;
}

.small_text_data {
    text-align: center;
    color: var(--text-dark-color);
}

.small_text_agree {
    color: var(--text-dark-color);
}

.bonus__area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.each__bonus {
    display: flex;
    flex-direction: row;
}

.icons {
    font-size: 1.4rem;
    margin-right: 0.4rem;
}

.toast {
    width: 100%;
    max-width: 85%
}

@media (max-width: 1400px) {
    .container {
        width: 80vw;
    }
}

@media (max-width: 900px) {
    .container {
        justify-content: center;
    }

    .titulo {
        margin-top: 2rem;
        font-size: clamp(1.4rem, 4vw, 1.6rem);
        line-height: 3rem;
    }

    .input,
    .button {
        padding: .8rem;
    }

    .input::placeholder {
        font-size: .8rem;
    }

    .input:focus {
        border-color: var(--text-dark-color);
        box-shadow: 0 0 5px var(--text-dark-color);
    }

    .button {
        font-size: .8rem;
        padding: .9rem .8rem;
    }

    .small_text {
        width: 20rem;
        font-size: .8rem;
    }
    
    .small_text_data {
        font-size: .8rem;
    }

    .small_text_agree {
        width: 100%;
    }

    .icons {
        font-size: 1rem;
    }

    .bonus {
        font-size: .8rem;
    }
}

@media (max-width: 600px) {
    .form_box {
        margin-top: 2rem;
    }

    .titulo {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-top: 1rem;
    }

    .input,
    .button {
        width: 15rem;
    }

    .button {
        font-size: 0.6rem;
        line-height: 1.2rem;
    }

    .small_text {
        width: 14rem;
        font-size: .5rem;
    }
    
    .small_text_data {
        font-size: .5rem;
    }
    
    .small_text_agree {
        width: 14rem;
        font-size: .5rem;
    }

    .icons {
        font-size: .9rem;
    }

    .bonus {
        font-size: .6rem;
    }
}

