.container {
    background: transparent url('../../public/DESKTOP/BG-03.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 44rem;
    position: relative;
}

.image__container {
    position: absolute;
    bottom: 4rem;
}

@media (max-width: 1300px) {
    .container {
        height: 50rem;
    }
}

@media (max-width: 1000px) {
    .container {
        height: 55rem;
    }
}

@media (max-width: 700px) {
    .container {
        height: 80rem;
        background-size: auto 80rem;
    }
}