

.container {
  display: grid;
  grid-template-columns: 3fr 3fr;
  max-width: 90rem;
  min-height: 85vh;
  background-color: var(--primary-color);
  margin: 2rem 0rem;
  border-radius: 1rem;
  overflow: hidden;
}

.image {
  background-image: url("../../../public/vulpes.jpg");
  background-size: 70rem;
  height: 85vh;
  background-position: 60rem 190rem;
}

.logo {
  width: 2rem;
  height: 2rem;
}


.content {
  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: 100%;

  padding: 0rem 30rem;
  overflow: hidden;
}

.content h1,
.content p {
  color: var(--text-light-color);

  overflow: hidden;
}

.container .content h1 {
  font-size: 5rem;
  line-height: 7rem;
}

.text_bigger {
  font-size: 1.8rem;
}

.button {
  display: flex;
  padding: 1rem 2rem;

  align-items: center;
  justify-content: center;

  border-radius: 0.4rem;

  background-color: var(--secondary-color);

  cursor: pointer;
}

.button p {
  margin: 0;
  padding: 0;
}
