

.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 90rem;
  min-height: 85vh;
  background-color: var(--primary-color);
  margin: 2rem 0rem;
  border-radius: 1rem;
  overflow: hidden;
}

.image {
  background-image: url("../../../public/vulpes.jpg");
  background-size: 70rem;
  height: 85vh;
  background-position: 60rem 190rem;
}

.logo {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.logo span span img {
  width: 100rem;

}

.content {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  padding: 8rem 0;
}

.content .text {
  display: flex;
  flex: 1;
  width: 100%;

  justify-content: center;
  align-items: flex-start;
  padding: 0rem 6rem;


}

.content .text h1 {
  font-size: 3.1rem;
  padding: 1rem 0rem;
}

.content .text p {
  font-size: 1.2rem;
}

.button_box {
  width: 100%;
  padding-top: 2rem;
}

.button {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  cursor: progress;

  transition: 1s;
}

.button:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 1200px)  {
  .container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* margin: 0; */
    height: 0;
    
  }
  .image {
    display: none;
  }
}