.nav {
  background: var(--primary-color);
  width: 100vw;
  align-items: center;
  justify-content: center;

 
}

.nav .container {
  flex-direction: row;
  min-width: 100vw;
  padding: 0 10rem;
}

.nav .container .col {
  align-items: flex-end ;
  justify-content: flex-end ;
}

.nav .container .col .item  {
  margin-left: 2rem;
  font-weight: bold;
  color: var(--text-light-color);
  display: none;
}
