.container {
    flex-direction: row;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    gap: 1.6rem;
    font-size: 0.9rem;
}

.icon {
    height: 2rem;
    width: 2rem;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 20%;
        font-size: 0.8rem;

    }
}