.container {
    flex-direction: row;
    box-sizing: border-box;
    padding: 1rem;
    width: 86rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.text {
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 80vw;
        font-size: 0.8rem;
    }
}